<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/"> Home </a>
  <h1>
    <p>Categories: <%= numCategories %>
  </h1>
  <ul>
    <% if (allCategories.length> 0) { %>
      <% allCategories.forEach(cat=> { %>
        <li>
          <a href="<%= cat.url %>">
            <%= cat.name %>
          </a>
          (<%= cat.description %>)
        </li>
        <% }); %>
          <% } else { %>
            <li>There are no categories.</li>
            <% } %>
  </ul>

  <a href="categories/new">Add a new category</a>

</body>

</html>